/* compact floating findbar */
.browserContainer {
  position: relative !important;
}

.findbar-highlight.findbar-button.tabbable,
.findbar-match-diacritics.findbar-button.tabbable,
.findbar-highlight.findbar-button.tabbable,
.findbar-entire-word.findbar-button.tabbable {
  display: none !important;
}

#statuspanel-inner {
  width: unset !important;
}
findbar {
  -moz-box-ordinal-group: 0 !important;
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  margin: -1px 20px 0 0 !important;
  border: 1px solid var(--chrome-content-separator-color) !important;
  border-top: 0 !important;
  background-color: var(--toolbar-bgcolor) !important;
  background-image: none !important;
  z-index: 1002 !important;
  display: flex !important;
}
#main-window[inFullscreen] findbar {
  margin-top: 0 !important;
}

findbar .findbar-container,
findbar .close-icon {
  pointer-events: auto;
}
.findbar-highlight,
.findbar-case-sensitive {
  padding: var(--toolbarbutton-inner-padding) !important;
}
.findbar-highlight .toolbarbutton-text,
.findbar-case-sensitive > .toolbarbutton-text,
.findbar-match-diacritics > .toolbarbutton-text {
  display: none !important;
}
.findbar-highlight:after,
.findbar-case-sensitive:after,
.findbar-match-diacritics:after {
  display: -moz-box !important;
}
.findbar-highlight:after {
  content: "\00a0\00a0\00a0\00a0";
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAAABGdBTUEAALGOfPtRkwAAACBjSFJNAAB6JQAAgIMAAPn/AACA6QAAdTAAAOpgAAA6mAAAF2+SX8VGAAABlElEQVR42mL8//8/Ay0BQAAxMdAYAAQQzS0ACCCaWwAQQDS3ACCAWEjVsGzLvv/HLlxjsDLQYojycWIkpB4ggJhINZyfl5thcnU2Aw83J8OijbsJJkGAAGIi1XAvOzOG33/+MDia6TMwMzExzF69Da8lAAHERI7hP3/9Zvj24yeDlaE2mD9l6UaclgAEEBMphv/5+xdu+LfvQPzjB4OpjjrD4aNHceoHCCAWclwOMxxE7z1xnsHc3BynGQABxIivqNC3dPh/4dh+rIZ///GLYc/xcwxsbKwMRfHBOFMTQADhDaJLJw4yxBU1gA1DdzkxhoMAQADhDKL44kaw15ZMaALzm4oz4YbvO3mBKMNBACCAcFrw8d0bOBtmSV5SFDjMiTUcBAACiAEUB+h4w96j/0HYyt0f5As41rOw/9+7YM1/bHpwYYAAwumD4xeuM9i6+YLZKtqGDAt76xnJKYsAAogFl+GHd20Gs4/u2MBISWEHEECMtK7RAAKI5sU1QADR3AKAAKK5BQABRHMLAAKI5hYABBgAGVz2EZX7WKAAAAAASUVORK5CYII=)
    center no-repeat !important;
}
.findbar-case-sensitive:after {
  content: "Aa" !important;
}
.findbar-match-diacritics:after {
  content: "eê" !important;
}
.found-matches {
  -moz-box-ordinal-group: 0 !important;
  margin: 0 8px 0 0 !important;
}
.findbar-find-status {
  display: none !important;
}
.findbar-container,
.findbar-closebutton {
  vertical-align: middle !important;
}

.findbar-container checkbox.findbar-match-diacritics.tabbable,
.findbar-container checkbox.findbar-case-sensitive.tabbable,
checkbox.findbar-case-sensitive tabbable,
checkbox.findbar-highlight.tabbable,
checkbox.findbar-entire-word.tabbable {
  display: none !important;
}

.findbar-container > hbox {
  display: grid;
  grid-template-columns: 1fr 24px 24px;
}
.findbar-container > hbox > input {
  grid-area: 1/1/1/4;
}
.findbar-container > hbox > .findbar-find-previous {
  grid-area: 1/2/1/3;
  margin: 2px !important;
}

.findbar-container > hbox > .findbar-find-next {
  grid-area: 1/3/1/4;
  margin: 2px !important;
}

findbar {
  margin-top: 20px !important;
}
