/* Adds icons to main menu items which were removed in Proton */
#appMenu-fxa-status2[fxastatus] > toolbarbutton::before,
#appMenu-protonMainView > .panel-subview-body > toolbarbutton > image {
  fill: currentColor;
  -moz-context-properties: fill;
  margin-inline: 0 8px !important;
}
#appMenu-new-tab-button2 {
  list-style-image: url("chrome://browser/skin/new-tab.svg");
}
#appMenu-new-window-button2 {
  list-style-image: url("chrome://browser/skin/window.svg");
}
#appMenu-new-private-window-button2 {
  list-style-image: url("chrome://browser/skin/privateBrowsing.svg");
}
#appMenu-bookmarks-button {
  list-style-image: url("chrome://browser/skin/bookmark-star-on-tray.svg");
}
#appMenu-history-button {
  list-style-image: url("chrome://browser/skin/history.svg");
}
#appMenu-downloads-button {
  list-style-image: url("chrome://browser/skin/downloads/downloads.svg");
}
#appMenu-passwords-button {
  list-style-image: url("chrome://browser/skin/login.svg");
}
#appMenu-extensions-themes-button {
  list-style-image: url("chrome://mozapps/skin/extensions/extension.svg");
}
#appMenu-print-button2 {
  list-style-image: url("chrome://global/skin/icons/print.svg");
}
#appMenu-save-file-button2 {
  list-style-image: url("chrome://browser/skin/save.svg");
}
#appMenu-find-button2 {
  list-style-image: url("chrome://global/skin/icons/search-glass.svg");
}
#appMenu-settings-button {
  list-style-image: url("chrome://global/skin/icons/settings.svg");
}
#appMenu-more-button2 {
  list-style-image: url("Developer.svg");
}
#appMenu-help-button2 {
  list-style-image: url(chrome://global/skin/icons/info.svg);
}
#appMenu-quit-button2 {
  list-style-image: url("chrome://devtools/skin/images/search-clear.svg");
}
#appMenu-fxa-status2[fxastatus] > toolbarbutton::before {
  display: -moz-box;
  content: "";
  width: 16px;
  height: 16px;
  background-image: var(--avatar-image-url);
}
#appMenu-protonMainView > .panel-subview-body::after {
  content: "";
  display: -moz-box;
  border-bottom: 1px solid var(--panel-separator-color);
  margin: var(--panel-separator-margin);
}
#appMenu-find-button2 ~ * {
  -moz-box-ordinal-group: 2;
}
/* toolbar button badges */
.customization-target
  :is(toolbarbutton, toolbaritem):not([attention])
  .toolbarbutton-badge {
  background-color: #1c1b22 !important;
  color: var(--toolbar-color, currentColor) !important;
  box-shadow: 0 1px 1px -1px hsla(0, 0%, 100%, 0.3) inset,
    0 -1px 1px -1px hsla(0, 0%, 0%, 0.5) inset,
    0 1px 1px hsla(240, 3%, 12%, 0.15), 0 1px 3px hsla(240, 3%, 12%, 0.2) !important;
  min-width: 10.5px !important;
  height: 10.5px !important;
  vertical-align: center !important;
  font-size: 9px !important;
  font-weight: var(500, 600) !important;
  line-height: 10px !important;
  filter: none !important;
  margin: -6px -6px 0 -6px !important;
}

/* colourful bookmarker folder */
.bookmark-item[container] {
  list-style-image: url(folder.svg) !important;
}

/* Show downloaded item clickable area increased fix */
.downloadButton,
.downloadIconShow {
  transform: scale(1.25, 1.25);
}

/* tracking protection active icon */
#urlbar-input-container[pageproxystate="valid"]
  > #tracking-protection-icon-container
  > #tracking-protection-icon-box:not([hasException])[active]
  > #tracking-protection-icon {
  list-style-image: url(tracking-protection.svg) !important;
}

/* bookmarks star */
#star-button {
  fill: white !important;
}

/* bookmark star in urlbar results */
.urlbarView-row[type="bookmark"]
  > .urlbarView-row-inner
  > .urlbarView-no-wrap
  > .urlbarView-type-icon {
  background-image: url(chrome://browser/skin/bookmark-12.svg);
  fill: white !important;
}

/* tab close button icon change */
.tab-close-button {
  list-style-image: url(tabclose.svg) !important;
}

/* *** addons icons start *** */
/* canvasblocker active */
.webextension-browser-action[data-extensionid="CanvasBlocker@kkapsner.de"]
  .toolbarbutton-icon {
  list-style-image: url(fingerprint.svg);
  transform: scale(1.15, 1.15);
}

/* canvas blocker not active */
.webextension-browser-action[data-extensionid="CanvasBlocker@kkapsner.de"][style*="browserAction-notPrinted.svg"]
  .toolbarbutton-icon {
  list-style-image: url(nofingerprint.svg);
  transform: scale(1.15, 1.15);
}

/* privacy oriented origin policy */
.webextension-browser-action[data-extensionid="poop@cm.org"]
  .toolbarbutton-icon {
  list-style-image: url(poop.svg);
}

/* localCDN active 
.webextension-browser-action[data-extensionid="{b86e4813-687a-43e6-ab65-0bde4ab75758}"]
  .toolbarbutton-icon {
  list-style-image: url(gpp-good.svg);
  transform: scale(1.2, 1.2);
} /*

/* localCDN not active 
.webextension-browser-action[data-extensionid="{b86e4813-687a-43e6-ab65-0bde4ab75758}"][style*="icon16-disabled.png"]
  .toolbarbutton-icon {
  list-style-image: url(gpp-bad.svg);
  transform: scale(1.2, 1.2);
} /*

/* ClearURL active
.webextension-browser-action[data-extensionid="{74145f27-f039-47ce-a470-a662b129930a}"]
  .toolbarbutton-icon {
  list-style-image: url(trash-on.svg);
  transform: scale(1.3, 1.3);
} */

/* ClearURL not active 
.webextension-browser-action[data-extensionid="{74145f27-f039-47ce-a470-a662b129930a}"][style*="clearurls_gray_128x128.png"]
  .toolbarbutton-icon {
  list-style-image: url(trash-off.svg);
  transform: scale(1.3, 1.3);
} */

/* Chameleon active */
.webextension-browser-action[data-extensionid="{3579f63b-d8ee-424f-bbb6-6d0ce3285e6a}"]
  .toolbarbutton-icon {
  list-style-image: url(Chameleon.svg);
}

/* Chameleon not active */
.webextension-browser-action[data-extensionid="{3579f63b-d8ee-424f-bbb6-6d0ce3285e6a}"][style*="icon_disabled.svg"]
  .toolbarbutton-icon {
  list-style-image: url(Chameleon-off.svg);
}

/* absolute click */
.webextension-browser-action[data-extensionid="{9350bc42-47fb-4598-ae0f-825e3dd9ceba}"]
  .toolbarbutton-icon {
  list-style-image: url(absoluteclick.svg);
  transform: scale(1.125, 1.125);
}

/* profile switcher */
.webextension-browser-action[data-extensionid="profile-switcher-ff@nd.ax"]
  .toolbarbutton-icon {
  list-style-image: url(manage-account.svg);
  transform: scale(1.4, 1.4);
}

/* Forget me not */
.webextension-browser-action[data-extensionid="forget-me-not@lusito.info"]
  .toolbarbutton-icon {
  list-style-image: url(flower.svg);
  transform: scale(1.1, 1.1);
}

/* uBlock origin active */
.webextension-browser-action[data-extensionid="uBlock0@raymondhill.net"i]
  .toolbarbutton-icon {
  list-style-image: url(show-password.svg);
  transform: scale(1.1, 1.1);
}

/* uBlock origin not active */
.webextension-browser-action[data-extensionid="uBlock0@raymondhill.net"i][style*="icon_16-off.png"]
  .toolbarbutton-icon {
  list-style-image: url(hide-password.svg);
  transform: scale(1.1, 1.1);
}

/* Kee */
.webextension-browser-action[data-extensionid="keefox@chris.tomlinson"]
  .toolbarbutton-icon {
  list-style-image: url(kee.svg);
  transform: scale(1.1, 1.1);
}

/* Search by Image */
.webextension-browser-action[data-extensionid="{2e5ff8c8-32fe-46d0-9fc8-6b8986621f3c}"]
  .toolbarbutton-icon {
  list-style-image: url(camera.svg);
}

/* aToolboxButton */
#toolbox-button .toolbarbutton-icon {
  transform: scale(1.1, 1.1);
}

/* download icon */
#downloads-button {
  transform: scale(1.1, 1.1);
}

/* screenshot tool */
#screenshot-button .toolbarbutton-icon {
  list-style-image: url(screenshot.svg);
  transform: scale(1.25, 1.25);
}

/* extension options panel */
#eom-button .toolbarbutton-icon {
  list-style-image: url(extension.svg);
}

/* xBrowserSync */
.webextension-browser-action[data-extensionid="{019b606a-6f61-4d01-af2a-cea528f606da}"]
  .toolbarbutton-icon {
  list-style-image: url(xbrowsersync.svg);
  transform: scale(1.05, 1.05);
}

/* Stylus */
.webextension-browser-action[data-extensionid="{7a7a4a92-a2a0-41d1-9fd7-1e92480d612d}"]
  .toolbarbutton-icon {
  list-style-image: url(stylus.svg);
}

/* youtube enchancer */
.webextension-browser-action[data-extensionid="{21f1ba12-47e1-4a9b-ad4e-3a0260bbeb26}"]
  .toolbarbutton-icon {
  list-style-image: url(music-on.svg);
  transform: scale(1.2, 1.2);
}

/* skip redirect not active
.webextension-browser-action[data-extensionid="skipredirect@sblask"][style*="icon-off.svg"]
  .toolbarbutton-icon {
  list-style-image: url(skipRedirectOff.svg);
} */

/* skip redirect active for all except same domain 
.webextension-browser-action[data-extensionid="skipredirect@sblask"][style*="icon-no-skip-urls-list.svg"]
  .toolbarbutton-icon {
  list-style-image: url(skipRedirectOn.svg) !important;
} /*

/* skip redirect active for list only
.webextension-browser-action[data-extensionid="skipredirect@sblask"][style*="icon-skip-urls-list.svg"]
  .toolbarbutton-icon {
  list-style-image: url(skipRedirectOn.svg) !important;
} */

/* skip redirect badge off 
#skipredirect_sblask-browser-action .toolbarbutton-badge {
  display: none !important;
} /*

/* smart referer on */
.webextension-browser-action[data-extensionid="smart-referer@meh.paranoid.pk"][style*="png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABUUlEQVQ4jZXSv0vVURzG8ZekXsEgh6D94paoLcHtLxBbbEvs/ge6uImzIGI4aEhDDvoPBNZ+oamco0m4hNXFn1soiNfBRzmD3nL48D3f57yfh/M5nwOPMYYtNNH+RzXDjsVrArs4RAvnHcznYQ7jmYBtHGEdr1HFgzuqGmY9nm04SOokFrGHfWwWxs1oe2Em4zlQHK0aYBrPUCsCatGmw1SLVrVxEbBdfG+rkrm4DjjLUZ7fI2AknjP4mp9Z/MZMhxZm8AtTucRvMJ++PmDlPy5xGe8zygV4hZ/4nuT+DmPsxxv8KCbnKT7iOHMdRA+6C2N3tMEw1+wQ9GXRyMZSQiuFsRJtKUwjnj7ZfIi6q3fewucAj/AEo9FaYerxVKA3NeDqme7gBJ8wh7f4Em0nzEDhu1n0JnUcq/iDvzjNBDbwMkzpufW2uzCMNbzDi7smcwnmOn9R1XjBYwAAAABJRU5ErkJggg=="]
  .toolbarbutton-icon {
  list-style-image: url(gpp-good.svg) !important;
  transform: scale(1.2, 1.2);
}

/* smart referer off */
.webextension-browser-action[data-extensionid="smart-referer@meh.paranoid.pk"][style*="icon-disabled.16x16.png"]
  .toolbarbutton-icon {
  list-style-image: url(gpp-bad.svg) !important;
  transform: scale(1.2, 1.2);
}

/* smart referer icon at start up */
.webextension-browser-action[data-extensionid="smart-referer@meh.paranoid.pk"][style*="icon-enabled.svg"]
  .toolbarbutton-icon {
  list-style-image: url(gpp-good.svg) !important;
  transform: scale(1.2, 1.2);
}

/* violentmonkey */
.webextension-browser-action[data-extensionid="{aecec67f-0d10-4fa7-b7c7-609a2db280cf}"]
  .toolbarbutton-icon {
  list-style-image: url(violentMonkey.svg) !important;
  transform: scale(1.1, 1.1);
}

/* *** addons icons end *** */
