/* Hide personalize button in new tab */
.personalize-button {
  display: none !important;
}

/* remove private browsing annoyances */
@-moz-document url('about:privatebrowsing') {
  .info,
  .promo {
    visibility: hidden;
  }
}

/* Tab notes background color change */
@-moz-document url-prefix("moz-extension://5a05da5c-263b-488d-9559-cdc6d61d7654/newtab.html") {
  #body, #note-content {
      background-color: #1c1b22 !important;
  }
  #list {
      background-color: #1c1b22 !important;
}
}