@import url(icons.css);

/* Mega urlbar styling */
:root {
  --mbarstyler-popout-pixels: 1px;
  --mbarstyler-top-bar-display: block;
  --mbarstyler-title-font-size: 15px;
  --mbarstyler-url-font-size: 13px;
  --mbarstyler-max-rows-without-scrolling: 10;
  --mbarstyler-bottom-border-width: 0px;
  --mbarstyler-match-weight: 700;
  --mbarstyler-match-background-opacity: 0;
}
#urlbar[breakout][breakout-extend] {
  top: calc(5px - var(--mbarstyler-popout-pixels)) !important;
  left: calc(0px - var(--mbarstyler-popout-pixels)) !important;
  width: calc(100% + (2 * var(--mbarstyler-popout-pixels))) !important;
  padding: var(--mbarstyler-popout-pixels) !important;
}
[uidensity="compact"] #urlbar[breakout][breakout-extend] {
  top: calc(3px - var(--mbarstyler-popout-pixels)) !important;
}
[uidensity="touch"] #urlbar[breakout][breakout-extend] {
  top: calc(4px - var(--mbarstyler-popout-pixels)) !important;
}
#urlbar[breakout][breakout-extend] > #urlbar-input-container {
  height: var(--urlbar-height) !important;
  padding: 0 !important;
}
#urlbar[breakout][breakout-extend] > #urlbar-background {
  animation: none !important;
}
#urlbar[breakout][breakout-extend] > #urlbar-background {
  box-shadow: none !important;
}
.urlbarView-row:first-of-type {
  display: var(--mbarstyler-top-bar-display) !important;
}
#urlbarView-results,
#urlbar-results {
  height: unset !important;
  max-height: calc(
    2.5 *
      (
        var(--mbarstyler-title-font-size) +
          var(--mbarstyler-bottom-border-width)
      ) * var(--mbarstyler-max-rows-without-scrolling)
  ) !important;
}
#urlbar-results {
  overflow-y: auto !important;
}
#urlbar-results {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.urlbarView-row:not(:last-of-type) {
  border-bottom: var(--mbarstyler-bottom-border-width) solid rgba(0, 0, 0, 0.1) !important;
}
.urlbarView-row:not([selected]) .urlbarView-title strong,
.urlbarView-row:not([selected]) .urlbarView-url strong {
  font-weight: var(--mbarstyler-match-weight) !important;
  border-radius: 2px;
  box-shadow: inset 0 0 1px 1px
    rgba(0, 0, 0, calc(var(--mbarstyler-match-background-opacity) * 2));
  background-color: rgba(0, 0, 0, var(--mbarstyler-match-background-opacity));
}
[lwt-popup-brighttext] .urlbarView-row:not([selected]) .urlbarView-title strong,
[lwt-popup-brighttext] .urlbarView-row:not([selected]) .urlbarView-url strong {
  box-shadow: inset 0 0 1px 1px
    rgba(255, 255, 255, calc(var(--mbarstyler-match-background-opacity) * 2));
  background-color: rgba(
    255,
    255,
    255,
    var(--mbarstyler-match-background-opacity)
  );
}
[lwthemetextcolor="bright"]
  .urlbarView-row:not([selected])
  .urlbarView-title
  strong,
[lwthemetextcolor="bright"]
  .urlbarView-row:not([selected])
  .urlbarView-url
  strong {
  box-shadow: inset 0 0 1px 1px
    rgba(192, 192, 192, calc(var(--mbarstyler-match-background-opacity) * 4));
  background-color: rgba(
    192,
    192,
    192,
    calc(var(--mbarstyler-match-background-opacity) * 3)
  );
}

/* change urlbar border highlight to transparent */
#urlbar-background {
  border-color: #1c00ff00 !important;
}
#urlbar[focused] > #urlbar-background {
  border-color: #1c00ff00 !important;
}

/* add-on identity box camouflage */
#identity-box.extensionPage > .identity-box-button {
  background-color: transparent !important;
}
#identity-icon-label {
  display: none !important;
}

/* Change rainbow line colour to make it look like the rest of the arrow panel menu */
#appMenu-fxa-separator {
  border-image: unset !important;
}

/* Replaces menubar items text ("File Edit etc.") with icons */
#main-menubar > menu {
  fill: currentColor;
  height: var(--uc-menubaritem-height, 28px);
  width: var(--uc-menubaritem-width, 30px);
  -moz-context-properties: fill;
  padding: 3px !important;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: var(--toolbarbutton-border-radius);
}
.menubar-text {
  display: none;
}

#file-menu {
  background-image: url("chrome://devtools/skin/images/tool-storage.svg");
}
#edit-menu {
  background-image: url("chrome://browser/skin/customize.svg");
}
#view-menu {
  background-image: url("chrome://devtools/skin/images/command-frames.svg");
}
#history-menu {
  background-image: url("chrome://browser/skin/history.svg");
}
#bookmarksMenu {
  background-image: url("chrome://browser/skin/bookmark.svg");
}
#tools-menu {
  background-image: url("chrome://browser/skin/developer.svg");
}
#helpMenu {
  background-image: url("chrome://global/skin/icons/help.svg");
}

/* Animated fox in about:firefox */
@-moz-document url("chrome://browser/content/aboutDialog.xhtml")
{
  #leftBox {
    background-image: url("https://i.imgur.com/8GWr0St.gif") !important;
    background-position: left !important;
    background-repeat: no-repeat !important;
  }
  #aboutDialogContainer {
    min-height: 350px !important;
    max-height: 400px !important;
    background-color: #191a2a !important;
    border: 0px !important;
    font-family: Fira Sans !important;
    font-size: inherit !important;
    font-weight: normal !important;
    color: #1e90ff !important;
  }
  #bottomBox {
    background: none !important;
  }
  #update-available-whats-new,
  .text-link {
    color: #ffffff !important;
    font-family: Fira Sans !important;
    font-style: normal !important;
  }
}

/* Disable container bar */
.tab-context-line {
  display: none !important;
}

/* Tighten up drop-down/context/popup menu spacing */
menupopup > menuitem,
menupopup > menu {
  padding-block: 4px !important;
}
:root {
  --arrowpanel-menuitem-padding: 6px !important;
}

/* change context menu hover style */
menupopup > menuitem,
menupopup > menu {
  border-radius: 4px !important;

  margin-left: 5px !important;

  margin-right: 5px !important;
}
menugroup > menuitem:first-child {
  padding-left: 5px !important;
}
menugroup > menuitem:last-child {
  padding-right: 5px !important;
}
menugroup > menuitem {
  border-radius: 5px !important;
}
menugroup > menuitem > hbox > image {
  border-radius: 5px !important;
}

/* Disable open link in new container from context menu */
#context-openlinkinusercontext-menu {
  display: none !important;
}

/* Remove context navigation and context line separator from context menu */
#context-navigation,
#context-sep-navigation {
  display: none !important;
}

/* remove search with from context menu and its line separator */
#context-searchselect,
#frame-sep,
#context-sep-sendlinktodevice {
  display: none !important;
}

/* remove take a screenshot from context menu and its separator */
#context-take-screenshot,
#context-sep-screenshots {
  display: none !important;
}

/* remove kee entry context menu */
#contentAreaContextMenu
  :is(.menu-iconic, .menuitem-iconic):is([label="Kee - Password Manager"], [label="Kee - Password Manager"]) {
  display: none !important;
}
#context-media-eme-separator {
  display: none !important;
}
#keefox_chris_tomlinson-menuitem-_generate-password {
  display: none !important;
}

/* remove add to search engines from urlbar context menu */
.menuitem-iconic.context-menu-add-engine,
.menuseparator-add-engine {
  display: none !important;
}

/* remove inspect accessibility */
#context-inspect-a11y {
  display: none !important;
}

/* New tab button alignment fix */
#tabs-newtab-button,
#new-tab-button {
  margin-top: 1.1px !important;
  transform: scale(0.9, 0.9) !important;
  padding-left: 0px !important;
}

/* non maximized firefox left tab space fix */
.titlebar-spacer[type="pre-tabs"] {
  display: none;
}

/* Make all tabs small except selected one */
.tabbrowser-tab[fadein]:not([selected]):not([pinned]) {
  max-width: 145px !important;
  min-width: 145px !important;
}

/* Selected tabs width */
.tabbrowser-tab[selected][fadein]:not([pinned]) {
  max-width: 225px !important;
  min-width: 225px !important;
}

/* Apply dimmed background for inactive tabs */
.tabbrowser-tab:hover
  > .tab-stack
  > .tab-background:not([selected], [multiselected]) {
  background-color: color-mix(in srgb, currentColor 12%, transparent);
}
.tabbrowser-tab
  > .tab-stack
  > .tab-background:not([selected], [multiselected]) {
  background-color: color-mix(in srgb, currentColor 6%, transparent);
}

/* make tabs vertically shorter */
.tabbrowser-tab {
  min-height: 33px !important;
}

/* Shows tab audio icons next to the tab icon, increase it and by default removes the tab secondary line */
.tab-icon-stack:is([muted], [soundplaying], [activemedia-blocked]) {
  grid-template-areas: "a s";
}
.tab-icon-overlay:is([muted], [soundplaying], [activemedia-blocked]) {
  grid-area: s;
}
.tab-icon-overlay,
.tab-icon-image {
  opacity: 1 !important;
}
.tab-icon-overlay {
  transform: scale(1.2, 1.2);
}
.tab-secondary-label {
  display: none;
}
.tab-secondary-label[pictureinpicture] {
  display: -moz-box;
}

/* tab close button shows only on hover */
.tabbrowser-tab .tab-close-button {
  display: none;
  transform: scale(0.8, 0.8);
}
.tabbrowser-tab:not([pinned]):hover .tab-close-button {
  display: -moz-box !important;
  transform: scale(0.8, 0.8);
}

/* Customize window action buttons ( Close, Min, Max ) */
.titlebar-button {
  margin: 4px !important;
  margin-left: 0 !important;
  margin-right: 5px !important;
  border-radius: 4px !important;
}

/* change tab loading animation color */
.tab-throbber::before {
  fill: white !important;
  opacity: 1 !important;
}

/* Show downloaded item clickable area increased fix */
.downloadButton,
.downloadIconShow {
  transform: scale(1.25, 1.25);
}

/* Bookmarks editor dark mode + rounded hover and selected */
#main-window #editBMPanel_folderTree {
  min-width: unset !important;
  max-width: 27em !important;
}
#editBookmarkPanel tree {
  appearance: none !important;
  background-color: var(--ui-textbox-bgcolor) !important;
  line-height: normal;
  color: #fff !important;
  border: none !important;
  border-radius: 2px !important;
  overflow: hidden !important;
  margin: 0 !important;
  font-weight: var(--uc-font-weight-thin);
}
#editBookmarkPanel richlistbox {
  border-radius: 2px !important;
  overflow: hidden !important;
  margin: 0 !important;
}
#editBookmarkPanel treechildren::-moz-tree-row(hover),
#editBookmarkPanel treechildren::-moz-tree-cell(hover) {
  appearance: none !important;
  background-color: #52525e !important;
  line-height: normal;
  color: #fff !important;
  border: none !important;
  border-radius: 4px;
}
#editBookmarkPanel treechildren::-moz-tree-row(selected),
#editBookmarkPanel treechildren::-moz-tree-cell(selected) {
  appearance: none !important;
  background-color: #2b2a33 !important;
  line-height: normal;
  color: #fff !important;
  border: none !important;
  outline: none !important;
  border-radius: 4px;
}
#editBookmarkPanel treechildren::-moz-tree-row(selected):hover,
#editBookmarkPanel treechildren::-moz-tree-cell(selected):hover {
  appearance: none !important;
  background-color: #2b2a33 !important;
  line-height: normal;
  color: #fff !important;
  border: none !important;
  border-radius: 4px;
}
#editBookmarkPanel treechildren::-moz-tree-cell-text(selected),
#editBookmarkPanel treechildren::-moz-tree-image(selected),
#editBookmarkPanel treechildren::-moz-tree-twisty(selected) {
  appearance: none !important;
  background-color: #2b2a33 !important;
  line-height: normal;
  color: #fff !important;
  border: none !important;
  outline: none !important;
  border-radius: 4px;
}

/* hide favicon of items inside bookmark folders */
#PersonalToolbar .bookmark-item[container] .menu-iconic-left {
  display: none !important;
}

/* dark mode notifications + rounded notifications */
@-moz-document url("chrome://global/content/alerts/alert.xhtml")
{
  :root {
    --menu-color: #15141a;
    --menu-background-color: #f9f9fb;
    --menu-border-color: #cfcfd8;
    --menuitem-hover-background-color: #e0e0e6;
  }
  @media (-moz-toolbar-prefers-color-scheme: dark) {
    :root {
      --menu-border-color: #5b5b66;
      --menu-color: #fbfbfe;
      --menu-background-color: #2b2a33;
      --menuitem-hover-background-color: #52525e;
    }
    #alertSourceLabel {
      color: rgb(5, 209, 241) !important;
    }
  }
  #alertBox {
    color: var(--menu-color) !important;
    background-color: var(--menu-background-color) !important;
    border-color: var(--menu-border-color) !important;
    border-radius: 6px !important;
    -moz-window-shadow: cliprounded !important;
  }
  #alertSettings {
    fill: currentColor !important;
    color: inherit !important;
    border-radius: 0 !important;
    margin-inline: 0 !important;
    margin-bottom: -4px !important;
  }
  .close-icon,
  #alertSettings {
    background: transparent !important;
  }
  .close-icon:hover > .toolbarbutton-icon,
  #alertSettings:is(:hover, [open]) > .button-box > .box-inherit {
    background-color: var(--menuitem-hover-background-color);
  }
  .close-icon > .toolbarbutton-icon,
  #alertSettings > .button-box > .box-inherit {
    border-radius: 4px !important;
    padding: 2px !important;
    margin: 2px 2px -2px 0 !important;
  }
  #alertSettings > .button-box > .box-inherit {
    margin: -4px 4px 3px 0 !important;
  }
  #alertSettings > .button-box > .box-inherit > .button-icon {
    padding: 1px;
  }
}

/* remove line under nav-toolbar */
#navigator-toolbox {
  border-bottom: 0 !important;
}

/* Fonts change */
:root {
  font-family: SF Pro Display !important;
}
@-moz-document regexp("^chrome:(?!\/\/(devtools|mozapps|browser\/content\/(places\/places.xhtml|pageinfo\/pageInfo.xhtml)|global\/content\/commonDialog)).*") {
  /* for most 12px stuff */
  html:root,
  window:root,
  menupopup,
  panel,
  popupnotification,
  tooltip,
  panelview,
  #BMB_bookmarksPopup,
  #main-menubar,
  .sidebar-search-container {
    font-family: SF Pro Text, Segoe UI, sans-serif !important;
    font-kerning: normal !important;
  }
  /* for stuff that should be thin */
  #urlbar,
  #searchbar,
  #PopupSearchAutoComplete,
  treechildren {
    font-family: SF Pro, Segoe UI, sans-serif !important;
  }
  /* for displaying larger font sizes */
  .panel-header,
  #sidebar-header,
  .identity-popup-security-connection,
  #PanelUI-whatsNew,
  #protections-popup-message,
  #protections-popup-no-trackers-found-description {
    font-family: SF Pro Display, Segoe UI, sans-serif !important;
    font-kerning: normal !important;
  }
  #fxa-menu-header-description {
    color: var(--panel-description-color);
    font-weight: inherit !important;
  }
  panel .panel-banner-item {
    font-weight: 500 !important;
  }
  :is(#back-button-tooltip, #forward-button-tooltip) .tooltip-label[id] {
    font-weight: 400 !important;
  }
  :is(#back-button-tooltip, #forward-button-tooltip) .tooltip-label:not([id]) {
    font-weight: 300 !important;
  }
  .places-tooltip-title {
    font-size: 12px !important;
    font-weight: 400 !important;
    line-height: 13.5px !important;
    max-height: 27px !important;
  }
  .places-tooltip-uri {
    font-weight: 300 !important;
  }
  .places-tooltip-title[hidden="true"] ~ .places-tooltip-uri {
    font-weight: inherit !important;
  }
  #urlbar-zoom-button .toolbarbutton-text {
    height: revert !important;
    font-weight: 400 !important;
  }
  toolbar:not(#PersonalToolbar)
    #zoom-controls
    > #zoom-reset-button
    > .toolbarbutton-text {
    font-weight: 400 !important;
  }
  #appMenu-zoomReset-button2 .toolbarbutton-text {
    font-size: 11.5px !important;
  }
  .popup-notification-body input[type="password"] {
    font-family: SF Pro !important;
  }
  @-moz-document url-prefix("chrome://browser/content/syncedtabs/sidebar.xhtml")
  {
    body {
      font-family: SF Pro, Segoe UI, sans-serif !important;
      font-kerning: normal !important;
    }
  }
}
/* remove customize toolbar from overflow menu and its separator */
#overflowMenu-customize-button {
  display: none !important;
}
#widget-overflow-mainView > toolbarseparator,
#appMenu-settings-button ~ toolbarseparator {
  display: none;
}
