/* Hide personalize button in new tab */
.personalize-button {
  display: none !important;
}

/* Scrollbar thinning and color */
@namespace url("http://www.w3.org/1999/xhtml");
:root {
  scrollbar-color: rgb(66, 65, 77) rgb(28, 27, 34);
}
* {
  scrollbar-width: thin;
}
