/* Hide personalize button in new tab */
.personalize-button {
  display: none !important;
}

/* remove private browsing annoyances */
@-moz-document url('about:privatebrowsing') {
  .info,
  .promo {
    visibility: hidden;
  }
}

/* Tab notes background color change */
@-moz-document url-prefix("moz-extension://5a05da5c-263b-488d-9559-cdc6d61d7654/newtab.html")
{
  #body,
  #note-content {
    background-color: #1c1b22 !important;
  }
  #list {
    background-color: #1c1b22 !important;
  }
}


/* Custom error pages firefox */
@font-face {
  font-family: "font"; /*font variable name*/
  src: url("bahnschrift.ttf"); /*URL to font*/
}

/* DNS Not Found */
.dnsNotFound #errorPageContainer,
.certerror #errorPageContainer {
  background-image: url("foxq.png") !important;
  background-position: center !important;
  background-size: auto 300px !important;
  background-repeat: no-repeat !important;
  font-family: "font" !important;
}

/* Page Not Found */
.connectionFailure #errorPageContainer {
  background-image: url("foxq.png") !important;
  background-position: center !important;
  background-size: auto 300px !important;
  background-repeat: no-repeat !important;
  font-family: "font" !important;
}

/* Connection Timed Out */
.netTimeout #errorPageContainer {
  background-image: url("foxq.png") !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: auto 300px !important;
  font-family: "font" !important;
}

/* Restricted Address */
.neterror #errorPageContainer {
  background-image: url("foxq.png") !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: auto 300px !important;
  font-family: "font" !important;
}

/* HTTPS-Only Mode Alert*/
html body main.container {
  background-image: url("foxe.png") !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: auto 425px !important;
  font-family: "font" !important;
}

.title > h2 {
  font-style: italic !important;
}

/* Buttons */
button.try-again {
  background-color: #1c1b22 !important;
  border-color: white !important;
  border-width: 1px !important;
  border-radius: 12px !important;
  color: white !important;
}

/* Buttons for HTTPS-Only Mode Alert */
#openInsecure {
  border-radius: 12px !important;
  border-color: white !important;
  border-width: 1px !important;
  background-color: #1c1b22 !important;
}

#goBack {
  border-radius: 12px !important;
  background-color: transparent !important;
  border-color: white !important;
  border-width: 1px !important;
  color: white !important;
}

#goBack:focus {
  outline: none !important;
}

#advancedButton {
  border-radius: 12px !important;
  border-color: white !important;
  border-width: 1px !important;
  background-color: #1c1b22 !important;
}

#returnButton {
  border-radius: 12px !important;
  background-color: transparent !important;
  border-color: white !important;
  border-width: 1px !important;
  color: white !important;
}

#advancedPanelReturnButton {
  border-radius: 12px !important;
  background-color: #1c1b22 !important;
  border-color: white !important;
  border-width: 1px !important;
  color: white !important;
}

#exceptionDialogButton {
  border-radius: 12px !important;
  border-color: white !important;
  border-width: 1px !important;
  background-color: #1c1b22 !important;
}

/* Titles */
.title-text {
  text-transform: uppercase !important;
}
